In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [4]:
data = pd.read_csv('movie_bd_v5.xls')
data

FileNotFoundError: [Errno 2] File movie_bd_v5.xls does not exist: 'movie_bd_v5.xls'

In [129]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [130]:
answers = {} # создадим словарь для ответов
data['profit'] = data.revenue - data.budget #добавили столбец "profit"
data['len_title'] = data.original_title	.apply(lambda x:len(x)) #добавили столбец с длиной названий
def count(str):
    '''функция для подсчета количества слов'''
    count = 0
    for i in str:
        if i == ' ':
            count +=1
    return count+1
data['len_overview'] = data.overview.apply(count)#создали столбец с длиной слов в описаниях

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [131]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [132]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [133]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [134]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generls'

In [135]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [136]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [137]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [138]:
data.runtime.mean()

109.6585494970884

In [139]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [140]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

In [141]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [142]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [143]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [144]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [145]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [146]:
len(data.query('revenue>budget'))

1478

In [147]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [148]:
data[data.release_year == 2008].revenue.max()
data[data.revenue == 1001921825].original_title

599    The Dark Knight
Name: original_title, dtype: object

In [149]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [150]:
new_data = data.query('2012<release_year<2015')
new_data[new_data.profit == new_data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [151]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [3]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data = data.copy()
data['genres']=pd.Series(data['genres'].str.cat(sep='|').split('|'))
data.genres.value_counts().index[0]

NameError: name 'data' is not defined

In [153]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [154]:
new = (data.assign(genres = data['genres'].str.split('|'))
       .explode('genres')
       .groupby('genres')
       ['original_title']
       .count().sort_values().index[-1])
new

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [155]:
pd.Series((data[data['profit'] > 0].genres.str.split('|').sum())).value_counts().index[0]

'Drama'

In [156]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [157]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

In [158]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [159]:
data = pd.read_csv('movie_bd_v5.csv')
data = data.assign(director=data.director.str.split('|')).explode('director')
data = data.assign(genres=data.genres.str.split('|')).explode('genres')
data[data.genres == 'Action'].director.value_counts().index[0]

'Robert Rodriguez'

In [160]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [161]:
data = pd.read_csv('movie_bd_v5.csv')
data = data.assign(cast=data.cast.str.split('|')).explode('cast')
data = data[data.release_year == 2012]
grouped = data.groupby(['cast']).sum()
grouped[grouped.revenue ==grouped.revenue.max()].index

Index(['Chris Hemsworth'], dtype='object', name='cast')

In [162]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [163]:
data = pd.read_csv('movie_bd_v5.csv')
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

'Matt Damon'

In [164]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [165]:
data = pd.read_csv('movie_bd_v5.csv')
new = data[data.cast.str.contains('Nicolas Cage',na=False)]
pd.Series(new.genres.str.cat(sep='|').split('|')).value_counts().index[0]

'Action'

In [166]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [167]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget #добавили столбец "profit"
df = data[data.production_companies.str.contains ('Paramount Pictures', na=False)]
df[df.profit == df.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [168]:
answers['18'] = 'The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [169]:
data = pd.read_csv('movie_bd_v5.csv')
grouped_df = data.groupby(['release_year']).sum()
grouped_df.loc[grouped_df['revenue'] == grouped_df['revenue'].max()].index.values[0]

2015

In [170]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [174]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget #добавили столбец "profit"
df = data[data.production_companies.str.contains ('Warner Bros', na=False)]
grouped_df = df.groupby(['release_year']).sum()
grouped_df.loc[grouped_df['profit'] == grouped_df['profit'].max()].index.values[0]

2014

In [175]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [176]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')#привели к datatime
data['month'] = data['release_date'].dt.month #создали столбец с месяцем
data.month.value_counts().index[0] # посчитали количество по месяцам

9

In [177]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [178]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')#привели к datatime
data['month'] = data['release_date'].dt.month #создали столбец с месяцем
len(data[data.month == 7]) + len(data[data.month == 8]) + len(data[data.month == 6])

450

In [179]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [180]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')#привели к datatime
data['month'] = data['release_date'].dt.month #создали столбец с месяцем
data[(data.month == 12) | (data.month == 1) | (data.month == 2)].director.str.split('|').value_counts().index[0]

['Peter Jackson']

In [181]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [182]:
data = pd.read_csv('movie_bd_v5.csv')
data['len_title'] = data.original_title	.apply(lambda x:len(x)) #добавили столбец с длиной названий
new = (data.assign(production_companies = data['production_companies'].str.split('|'))
       .explode('production_companies')
       .groupby('production_companies')
       ['len_title']
       .mean().sort_values().index[-1])
new

'Four By Two Productions'

In [183]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [184]:
data = data.copy()
data['len_overview'] = data.overview.apply(count)#создали столбец с длиной слов в описаниях
data = data.assign(production_companies=data.production_companies.str.split('|')).explode('production_companies')
grouped = data.groupby(['production_companies']).mean() 
grouped.sort_values('len_overview').index[-1]

'Midnight Picture Show'

In [185]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [186]:
data = data.copy()
data.sort_values('vote_average').tail(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,len_title,len_overview
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,Syncopy,7/16/2008,8.1,2008,15,67

In [187]:
answers['26'] = 'The Dark Knight'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [188]:
data = pd.read_csv('movie_bd_v5.csv')
combs = [] 
for cast in data.cast.str.split('|'):
    combs.extend(itertools.combinations(cast, 2))
pd.Series(combs).value_counts().index[1]

('Daniel Radcliffe', 'Emma Watson')

In [189]:
answers['27'] = 'Daniel Radcliffe', 'Emma Watson'

# Submission

In [190]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generls',
 '3': 'Winnie the Pooh',
 '4': '109.6585494970884',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight',
 '27': ('Daniel Radcliffe', 'Emma Watson')}

In [191]:
# и убедиться что ни чего не пропустил)
len(answers)

27