In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [57]:
data = pd.read_csv('movie_bd_v5.xls')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [45]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [58]:
answers = {} # создадим словарь для ответов
data['profit'] = data.revenue - data.budget #добавили столбец "profit"
data['len_title'] = data.original_title	.apply(lambda x:len(x)) #добавили столбец с длиной названий
def count(str):
    '''функция для подсчета количества слов'''
    count = 0
    for i in str:
        if i == ' ':
            count +=1
    return count+1
data['len_overview'] = data.overview.apply(count)#создали столбец с длиной слов в описаниях

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [59]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [60]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generls'

In [12]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [93]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [16]:
data.runtime.mean()

109.6585494970884

In [62]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [18]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

In [94]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [24]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [64]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [26]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [65]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [29]:
len(data.query('revenue>budget'))

1478

In [66]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [31]:
data[data.release_year == 2008].revenue.max()
data[data.revenue == 1001921825].original_title

599    The Dark Knight
Name: original_title, dtype: object

In [67]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [33]:
new_data = data.query('2012<release_year<2015')
new_data[new_data.profit == new_data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [68]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [24]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data = data.copy()
data['genres']=pd.Series(data['genres'].str.cat(sep='|').split('|'))
data.genres.value_counts().index[0]

'Drama'

In [69]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [26]:
new = (data.assign(genres = data['genres'].str.split('|'))
       .explode('genres')
       .groupby('genres')
       ['original_title']
       .count().sort_values().index[-1])
new

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [67]:
pd.Series((data[data['profit'] > 0].genres.str.split('|').sum())).value_counts().index[0]

'Drama'

In [70]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [70]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

In [71]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
data = data.copy()
data = data.assign(director=data.director.str.split('|')).explode('director')
data = data.assign(genres=data.genres.str.split('|')).explode('genres')
data[data.genres == 'Action'].director.value_counts().index[0]

'Robert Rodriguez'

In [72]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [19]:
data = pd.read_csv('movie_bd_v5.xls')
data = data.copy()
data = data.assign(cast=data.cast.str.split('|')).explode('cast')
data = data[data.release_year == 2012]
grouped = data.groupby(['cast']).sum()
grouped[grouped.revenue ==grouped.revenue.max()].index

Index(['Chris Hemsworth'], dtype='object', name='cast')

In [95]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [80]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

'Matt Damon'

In [96]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [83]:
data = pd.read_csv('movie_bd_v5.xls')
new = data[data.cast.str.contains('Nicolas Cage',na=False)]
pd.Series(new.genres.str.cat(sep='|').split('|')).value_counts().index[0]

'Action'

In [97]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [90]:
df = data[data.production_companies.str.contains ('Paramount Pictures', na=False)]
df[df.profit == df.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [98]:
answers['18'] = 'The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [92]:
grouped_df = data.groupby(['release_year']).sum()
grouped_df.loc[grouped_df['revenue'] == grouped_df['revenue'].max()].index.values[0]

2015

In [99]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [18]:
data = data.copy()
df = data[data.production_companies.str.contains ('Warner Bros', na=False)]
grouped_df = df.groupby(['release_year']).sum()
grouped_df.loc[grouped_df['profit'] == grouped_df['profit'].max()].index.values[0]

2014

In [78]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [17]:
data = data.copy()
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')#привели к datatime
data['month'] = data['release_date'].dt.month #создали столбец с месяцем
data.month.value_counts().index[0] # посчитали количество по месяцам

9

In [100]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [16]:
data = data.copy()
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')#привели к datatime
data['month'] = data['release_date'].dt.month #создали столбец с месяцем
len(data[data.month == 7]) + len(data[data.month == 8]) + len(data[data.month == 6])

450

In [80]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [15]:
data = data.copy()
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')#привели к datatime
data['month'] = data['release_date'].dt.month #создали столбец с месяцем
data[(data.month == 12) | (data.month == 1) | (data.month == 2)].director.str.split('|').value_counts().index[0]

['Peter Jackson']

In [103]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [48]:
new = (data.assign(production_companies = data['production_companies'].str.split('|'))
       .explode('production_companies')
       .groupby('production_companies')
       ['len_title']
       .mean().sort_values().index[-1])
new

'Four By Two Productions'

In [104]:
answers['24'] = 'Warner Bros.'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
data = data.copy()
data = data.assign(production_companies=data.production_companies.str.split('|')).explode('production_companies')
grouped = data.groupby(['production_companies']).mean() 
grouped.sort_values('len_overview').index[-1]

'Midnight Picture Show'

In [105]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [55]:
data = data.copy()
data.sort_values('vote_average').tail(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,len_title,len_overview
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,15,67

In [106]:
answers['26'] = 'The Dark Knight'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [88]:
combs = [] 
for cast in data.cast.str.split('|'):
    combs.extend(itertools.combinations(cast, 2))
pd.Series(combs).value_counts().index[1]

('Daniel Radcliffe', 'Emma Watson')

In [107]:
answers['27'] = 'Daniel Radcliffe', 'Emma Watson'

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [109]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [108]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generls',
 '3': 'Winnie the Pooh',
 '4': '109.6585494970884',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '24': 'Warner Bros.',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight',
 '27': ('Daniel Radcliffe', 'Emma Watson'),
 '23': 'Peter Jackson'}